.overlay{
    font-size: $l;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(0, 0%, 0%, 0.7);
    transition: opacity 500ms;
    opacity: 1;

    .user-signup {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        background-color: $primary2;
        padding: 2rem;
        transition: all 2s ease-in-out;
        width: 40vw;
        height: 30vh;
        border-radius: 10px;
        display: flex;
        flex-flow: column; 
        justify-content: space-evenly;
        text-align: center;

        h2 {
            font-size: $xl;
        }

        input {
            align-self: center;
            margin: 0;
            width: 30vw;
            height: 3vh;
        }

    }
}
