$primary1: hsl(0, 2%, 15%);
$primary2: hsl(0, 2%, 25%);
$primary3: hsl(0, 2%, 35%);
$primary4: hsl(0, 2%, 45%);
$primary5: hsl(0, 2%, 55%);
$primary6: hsl(0, 2%, 65%);
$primary7: hsl(0, 2%, 75%);
$primary8: hsl(0, 2%, 85%);

$shadow: hsl(0, 2%, 5%);
