@import url('https://fonts.googleapis.com/css?family=Overpass:200,400,800&display=swap');

$font: 'Overpass', sans-serif;

$regular: 1rem;
$l: 1.5rem;
$xl: 2rem;


@mixin header-font {
    font-family: $font;
    font-weight: 800;
    font-size: $xl;
}

@mixin primary-font {
    font-family: $font;
    font-weight: 400;
    font-size: $regular;
}

